<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.creagine.lbbadmin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CekPresensiActivity"></activity>
        <activity android:name=".PilihJadwalActivity" />
        <activity android:name=".PresensiDetailActivity" />
        <activity android:name=".FeeTutorDetailActivity" />
        <activity android:name=".TagihanDetailActivity" />
        <activity android:name=".AddFeeTutorActivity" />
        <activity android:name=".FeeTutorActivity" />
        <activity android:name=".KonfirmasiPembayaranActivity" />
        <activity android:name=".NotifActivity" />
        <activity android:name=".SppDetailActivity" />
        <activity android:name=".AddTagihanActivity" />
        <activity android:name=".SppActivity" />
        <activity android:name=".JadwalDetailActivity" />
        <activity android:name=".AddJadwalActivity" />
        <activity android:name=".JadwalActivity" />
        <activity android:name=".AddTutorActivity" />
        <activity android:name=".TutorActivity" />
        <activity android:name=".AddSiswaActivity" />
        <activity android:name=".SiswaActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>